
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Squada+One&family=Staatliches&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Squada One', cursive;
    margin: 0;
    min-height: 100vh;
    background: #29333f;
}

button{
    background-color: #29333f;
    color: #fbee6c;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: 5px solid #fbee6c;
    cursor:pointer;
    font-size: 20px;
    animation:Appear 1s;
  }

  @keyframes Appear{
    0%{opacity:0;}
    10%{opacity:0;}
    50%{opacity:0;}
    100%{opacity:1;}
    }

button:hover{
  transition: 0.3s;
  background: #fbee6c;
  color: #29333f;
}

#container{
    position: fixed;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;

}

.toast{
    background-color: #fbee6c;
    border-radius: 5px;
    color: #29333f;
    padding: 2rem;
    margin: 1rem;
    font-size: 23px;
}
