body {
    margin: 0;
    padding: 0;
    background-color: #29333f;
}

header {
    height: 100px;
    margin-bottom: 0px;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    color: #29333f;
    background: #c7c7c7;
    font-family: 'Pacifico';
    font-weight: 700;
    text-shadow: 5px 5px 0px #e591da, 10px 10px 0px #fdff90;
    border-bottom: 2px solid #29333f;
}

footer {
    margin: auto;
    padding-left: 600px;
    font-family: Arial, Helvetica, sans-serif, bold;
    color: #ffffff;
    text-align: center;
}

button {
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    border: none;
    border-color: white;
    border-radius: 15%;
    cursor: pointer;
    float: center;
    font-family: Arial, Helvetica, sans-serif, bold;
    color: #000000;
    box-shadow: 0 10px 50px rgb(241, 79, 144);
}

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 846px;
    background: linear-gradient( #c7c7c7, #fdff90, #db98db);
}

.card {
    margin-top: 0px;
    background-color: rgba(41, 51, 63, 0.9);
    height: 37rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    box-shadow: inset 0 0 0 4px #ffffff;
    border-radius: 20px;
}

.card:focus {
    outline: 2px dotted #55d7dc;
}

.card__name {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Pacifico';
}

.card__image {
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 25%;
    border: none;
    margin-top: 100px;
    box-shadow: 0 10px 50px rgb(241, 79, 144);
}

.grid-container {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 2px solid #ffffff;
    margin-bottom: 0px;
}