* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100vh;
    background-color: #29333f;
}

#canvas {
    width: 1500px;
    height: 800px;
    background: url("./img/background.jpg");
    background-size: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

#game {
    position: absolute;
    top: 250px;
    left: 720px;
    margin: 20px;
    height: 50px;
    width: 350px;
    background: rgba(65, 7, 7, 0.8);
    cursor: pointer;
    border: 2px solid rgb(253, 0, 0);
    border-radius: 20px;
    text-align: center;
}

button {
    margin: 10px;
    background: none;
    border: none;
    color: rgb(253, 0, 0);
    font-size: 25px;
    font-family: bold sans-serif;
    cursor: pointer;
}

button:hover {
    color: #fbee6c;
}