*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgb(20, 20, 37);
}

#canvas1 {
    width: 900px;
    height: 600px;
    border: 2px solid rgb(20, 20, 37);
    background: rgb(104, 145, 199);
}

#total {
    position: fixed;
    right: 40px;
    top: 20px;
    color: #fbee6c;
    text-align: center;
}

input[type="text"] {
    text-align: center;
    margin: 1px 0;
    font-size: 40px;
    line-height: 18px;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#gameOver {
    position: absolute;
    margin: 20px;
    height: 70px;
    width: 200px;
    background:rgb(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    cursor: pointer;  
}

button {
    background: none;
    border:none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: sans-serif;  
    cursor: pointer;  
}

button:hover {
    color:#fbee6c;
}