* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #29333f;
}
#main {
    height: 500px;
    width: 1000px;
    border: solid #c7c7c7;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.cell {
    width: 50px;
    height: 50px;
}