@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Squada+One&family=Staatliches&display=swap');


:root {
    --darkblue: #29333f;
    --white: #fff;
    --yellow: #fbee6c;
    --beige: #FBE7B5;
    --blue: #7ab1ff;
    --rose: #FF756B;

}

.basic-theme {
    --panel: var(--white);
    --body: var(--darkblue);
}


.pastel-theme {
   --panel: var(--beige);
   --body: var(--blue);
   --button: var(--rose);
}











*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Squada One', cursive;
  font-size: 1rem;
  background: #29333f;
}

.pastel-mode {
    background-color: var(--blue);
}



header{
  background-color: #fbee6c;
}

.pastel-mode header {
    background-color: var(--beige);
}

button{
  padding: 10px 28px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #29333f;
  color: #c7c7c7;
  margin: 1px 6px;
  font-size: 16px;
}

button:hover{
  background-color:#29333f ;
  color:#fbee6c
}

.pastel-mode button{
    padding: 10px 28px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: var(--rose);
    color: #fff;
    margin: 1px 6px;
    font-size: 16px;
}

.pastel-mode button:hover {
    background-color: #F85C50;
}


.container{
  width: 95%;
  margin: auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background: #fbee6c;
  
}

.pastel-mode .nav{
    background: var(--beige);
}

.nav button{
  font-family: inherit;
  border: 1px solid #c7c7c7;
}

.create-card{
  display:none;
  width: 370px;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background:rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.create-card textarea{
  width: 100%;
  border-radius: 5px;
  font-family:cursive ;
  border: 1px solid lightgray;
}

.create-card button{
  width: fit-content;
}

.flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.flashcard{
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px; 
  background:rgba(255, 255, 255, 0.2);
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.flashcard h2{
  font-size: 1rem;
}

@media(max-width:768px){
  .flashcard{
    margin: auto;
  }

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  .nav{
    flex-direction: column;
    align-items: center;
  }

  .create-card{
    width: 100%;
  }

  .flashcard{
    width: 100%;
  }

}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle.span {
    margin-right: 10px;
    color:rosybrown;
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: salmon;
    cursor: poiter;
}


.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: seashell;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}


.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

div span {
    position: absolute;
}

div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}




